#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#speedanzeige {
  font-size:  200px;
  font-family:'Courier New', Courier, monospace
}